table{
    width: 100%;
}
h1{
    background-color:cornflowerblue;
    text-align:center;
    font-size: 48px;
}
.page1{
    background-color:lightcoral;
}
.page2{
    background: lightseagreen;
}
.page3{
    background-color:lightgoldenrodyellow;
}
.page4{
    background-color:aqua
}
.page5{
    background-color: lavender;
}
.page6{
    background: lightseagreen;
}

img{
    text-align:center;
}
#navbarNav{
    background-color:darkseagreen
    
}
p,h6{
    color: white;
}
.nin-64{
    color: black;
}